
body {
    font-family: 'Raleway', sans-serif;
}
.navbar {
    background: linear-gradient(#00867e,#00909f) !important;
}

.navbar .nav .nav-item .nav-link {
    color: #fff;
}  

.btn-primary {
    background: #00c29e;
}

/*banner section*/

.banner {
    background:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../img/banner-bg.png);
    height: 80vh;
    position: relative;
}
.banner .herobox {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.highlite {
    font-weight: 300;
}
.banner .herobox h1 {
    color: #fff;
    margin-bottom: 40px;
    font-size: 50px;
}
.banner .herobox .btn.btn-cta, .btn.btn-ghost {
    padding: 12px 30px;
    border: 1px solid #fff;
    margin-top: 15px;
    color: #fff;
    background: #00867e;
    margin: 0 20px;
}
.banner .herobox .btn.btn-ghost {
    background: none;
    transition: .5s;
}

.banner .herobox .btn.btn-ghost:hover {
    background: #00867e;
}


/*service section*/

.service {
    padding: 80px 0;
    background: #e9e9e9;
}
.service h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 30px;
}
.service p {
    
    font-size: 16px;
    margin-bottom: 70px;
}

.service-img {
    
max-width: 35%;
    
margin: 20px auto;
}

.card {}
.card h5 {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

/*how it work*/

.how-it-work {
    padding: 80px;
}
.how-it-work h1 {
    margin-bottom: 60px;
}


.steps {
    margin-bottom: 30px;
}
.number {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 2px solid #3f3f3f;
    border-radius: 20px;
    text-align: center;
    line-height: 34px;
    font-size: 19px;
}

.app-iphone {
    
}


/*city section*/

.city {
    padding: 80px 0;
    background: #e9e9e9;
}
.city h3 {
    text-transform: uppercase;
    margin-bottom: 20px;
}
.city span {
    margin-left: 16px;
    font-size: 20px;
}
.city i {
    line-height: 43px;
    font-size: 20px;
    color: #3b8a6e;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 3px 0;
}
.city img {
    margin-bottom: 20px;
}

.city h2 {
    text-transform: uppercase;
}


/*testimonal section*/

.testimonal {
    padding: 80px 0;
    background: url(../img/testimonial-bg-dark.png);
}
.testimonal h2 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.testimonal p {
    color: #fff;
    padding: 0px 140px;
    font-size: 25px;
    margin-bottom: 38px;
}
.testimonal img {
    display: inline;
}

.testimonal h3 {
    color: #fff;
}



/*form section*/

.form-sec {
    padding: 80px 0;
}
.form {}
.form input {}
.form {}
.form-control {
    width: 50%;
    margin: 0 auto;
    border: none;
    margin-bottom: 20px;
    background: #e9e9e9;
    padding: 25px 20px;
}

.form-btn {
    display: block;
    padding: 12px 46px;
    font-size: 15px;
    background: none;
    border: 2px solid #00a79c;
    color: #474747;
    transition: .5s;
}

.form-btn:hover {
    background: #00a79c;
    border: none;
}

.joana {
    float: left;
    margin-top: 35px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 300;
}
.women {float: right;}



/*footer section*/

.fotter-sec {
    padding: 50px 0;
    background: url(../img/footer-bg.png);
    position: relative;
}
.map {
}
.place {
    list-style: none;
}
.p {
    position: absolute;
    left: 20%;
    top: 85%;
}
.fotter-sec h1 {
    text-transform: uppercase;
    color: #fff;
}
.fotter-sec h2 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.fotter-sec p {
    color: #fff;
    font-size: 18px;
}
.fotter-sec ul li {
}
.fotter-sec ul li a {
    color: #fff;
    font-size: 30px;
}
.fotter-sec ul li a i {
    margin-left: 11px;
    height: 40px;
    width: 40px;
    background: #fff;
    color: #1d0c06;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    font-size: 25px;
}
.loction {}

.social-icon {}

